.review {
}
.review__inner-wrap {
  display: flex;
}
.review__picture-col {
  width: 725px;
  margin-right: 50px;
}
.review__big-picture-wrap {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 17px 15px;
  margin-bottom: 20px;
}
.review__big-picture {
  border-radius: 15px;
  width: 100%;
}
.review__thumb-picture-wrap {
  padding: 10px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
}
.review__thumb-picture {
  box-sizing: border-box;
  border-radius: 8px;
}

.review__thumb-wrap .splide .is-active .review__thumb-picture-wrap {
  border: 1px solid #333;
}

.review__info-title {
  font-size: var(--section-text-fz-x-lrg);
  color: var(--section-text-color-alt-dark);
}
.review__info-description {
  font-size: var(--section-text-fz-lrg);
  color: var(--section-text-color-alt-dark);
  margin-bottom: 10px;
}
.review__info-price {
  color: var(--section-text-color-alt-dark);
  font-size: var(--section-text-fz-xxx-lrg);
  font-weight: 600;
  margin-bottom: 10px;
}
.review__features-title {
  font-size: var(--section-text-fz-lrg);
  color: var(--section-text-color-alt-dark);
  font-weight: 500;
  margin-bottom: 25px;
}
.review__features-list {
  margin-bottom: 27px;
}
.review__features-item {
  font-size: var(--section-text-fz-lrg);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.review__features-item img {
  margin-right: 20px;
}
.review__features-btn {
  width: 280px;
}


.review__features-item:last-of-type {
  margin-bottom: 0;
}

.review__thumb-wrap
  .splide--nav
  > .splide__slider
  > .splide__track
  > .splide__list
  > .splide__slide.is-active,
.review__thumb-wrap
  .splide--nav
  > .splide__track
  > .splide__list
  > .splide__slide.is-active {
  border: none;
}

.review__info-col
  .splide--nav
  > .splide__slider
  > .splide__track
  > .splide__list
  > .splide__slide,
.review__info-col
  .splide--nav
  > .splide__track
  > .splide__list
  > .splide__slide.is-active {
  border: 3px solid transparent;
}
