.review {
}
.review__inner-wrap {
  display: flex;
  flex-wrap: wrap;
}
.review__picture-col {
  width: 725px;
  margin-right: 50px;
}
.review__big-picture-wrap {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 17px 15px;
  margin-bottom: 20px;
}
.review__big-picture {
  border-radius: 15px;
  width: 100%;
}
.review__thumb-picture-wrap {
  padding: 10px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
}
.review__thumb-picture {
  box-sizing: border-box;
  border-radius: 8px;
}

.review__thumb-wrap .splide .is-active .review__thumb-picture-wrap {
  border: 1px solid #333;
}

.review__info-title {
  font-size: var(--section-text-fz-x-lrg);
  color: var(--section-text-color-alt-dark);
}
.review__info-description {
  font-size: var(--section-text-fz-lrg);
  color: var(--section-text-color-alt-dark);
  margin-bottom: 10px;
}
.review__info-price {
  color: var(--section-text-color-alt-dark);
  font-size: var(--section-text-fz-xxx-lrg);
  font-weight: 600;
  margin-bottom: 10px;
}
.review__features-title {
  font-size: var(--section-text-fz-lrg);
  color: var(--section-text-color-alt-dark);
  font-weight: 500;
  margin-bottom: 25px;
}
.review__features-list {
  margin-bottom: 27px;
}
.review__features-item {
  font-size: var(--section-text-fz-lrg);
  color: var(--section-text-color-alt-dark);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.review__features-item img {
  margin-right: 20px;
}
.review__features-btn {
  width: 280px;
}

.review__features-item:last-of-type {
  margin-bottom: 0;
}

.review__description-row {
  flex-basis: 100%;
  margin-top: 50px;
  padding: 22px;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  color: var(--section-text-color-alt-dark);
}

.review__description-row h2 {
  margin-bottom: 22px;
  font-weight: 600;
}

.review__thumb-wrap
  .splide--nav
  > .splide__slider
  > .splide__track
  > .splide__list
  > .splide__slide.is-active,
.review__thumb-wrap
  .splide--nav
  > .splide__track
  > .splide__list
  > .splide__slide.is-active {
  border: none;
}

.review__info-col {
  flex: 1;
}

.review__info-col
  .splide--nav
  > .splide__slider
  > .splide__track
  > .splide__list
  > .splide__slide,
.review__info-col
  .splide--nav
  > .splide__track
  > .splide__list
  > .splide__slide.is-active {
  border: 3px solid transparent;
}

@media screen and (max-width: 1399px) {
  .review__picture-col {
    width: 550px;
  }
}

@media screen and (max-width: 991px) {
  .review__picture-col {
    width: 100%;
    flex: auto;
    margin-right: 0;
    margin-bottom: 22px;
  }
  .review__info-col {
    width: 100%;
    flex: auto;
    margin-bottom: 50px;
  }
  .review__features-btn {
    max-width: 100%;
  }
  .review__description-row {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .review__big-picture-wrap {
    padding: 0;
    margin-bottom: 16px;
  }
  .review__thumb-picture-wrap {
    padding: 0; 
  }
}
