.header {
  background-color: var(--section-bg-color-dark);
}
.header__bar {
  display: flex;
  align-items: center;
}
.header__navigation {
  /* margin: 0 auto; */
  width: 100%;
  margin: 0 100px;
}
