.burger {
  min-width: 18px;
  width: 18px;
  /* margin-left: auto; */
}
.burger__bar {
  border-radius: 3px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
}
.burger__bar:last-of-type {
  margin-bottom: 0;
}
.burger.on-mob {
  float: right;
}
