.navigation {
  display: flex;
  justify-content: space-between;
  margin: -5px;
  flex-wrap: wrap;
}
.navigation__item {
  margin: 5px;
}
.navigation__link {
  text-decoration: none;
}
.navigation__text {
  color: var(--section-text-color-alt-light);
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
}
.navigation__text:hover {
  color: #1abc9c;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: block;
    transition: all 0.3s;
  }
}
