.language-switcher {
  position: relative;
}
.language-switcher__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: none;
}
.language-switcher__list.shown {
  display: block;
}
.language-switcher__item {
}
.language-switcher__btn {
  color: var(--section-text-color-alt-light);
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 40px;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 500;
}
.language-switcher__btn:hover {
  background: var(--section-bg-color-default);
  color: var(--section-text-color-alt-dark);
}
.language-switcher__btn--indicate {
  border: 1px solid #fff;
  box-sizing: border-box;
}
.language-switcher__list--full {
  display: none;
}
@media screen and (max-width: 767px) {
  .language-switcher__item {
    display: inline-block;
  }
  .language-switcher__list--full {
    display: block;
  }
}
