.header {
  background-color: var(--section-bg-color-dark);
}
.header__bar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
}
.header__navigation {
  /* margin: 0 auto; */
  width: 100%;
  margin: 0 100px;
}
.header__logo {
}
.header__search-btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  outline: none;
  border: none;
  background-image: url("../../img/svg/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
  min-width: 25px;
}
.header__burger {
  margin-left: auto;
  display: none;
}
@media screen and (max-width: 991px) {
  .header__navigation {
    margin: 0 35px;
  }
}
@media screen and (max-width: 767px) {
  .header {
  }
  .header__bar {
    margin: 0 auto;
    padding: 0 10px;
  }
  .header__text-wrap h1 {
    margin-bottom: 27px;
  }
  .header__text-wrap > *:last-child {
    margin-top: 27px;
  }
  .header__text-wrap {
    margin-bottom: 40px;
    padding: 0 10px;
  }
  .header__hero-picture {
    max-width: 273px;
  }
  .header__navigation {
    display: block;
    background-color: var(--section-bg-color-dark);
    position: fixed;
    top: 0;
    bottom: 0;
    right: auto;
    left: 100%;
    max-width: 200px;
    z-index: 10;
    margin: 0;
    padding: 15px;
    transition: all 0.3s;
  }
  .header__navigation.shown {
    transform: translate(-100%, 0);
  }
  .header__search-btn {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
