.advantage-banner {
  position: relative;
  padding: 120px 65px;
  min-height: 660px;
  overflow: hidden;
}
.advantage-banner__bg-pic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.7s;
}
.advantage-banner:hover .advantage-banner__bg-pic {
  transform: scale(1.1);
}
.advantage-banner__text-box {
  font-size: var(--section-text-fz-x-lrg);
  position: relative;
  z-index: 2;
  text-align: center;
  text-transform: capitalize;
}
.advantage-banner__text-box h3 {
  color: var(--section-text-color-alt-dark);
  font-weight: 600;
  font-size: var(--section-text-fz-xxx-lrg);
  line-height: 72px;
  margin-bottom: 10px;
}
.advantage-banner__text-box--light {
}
.advantage-banner__text-box--light h3 {
  color: var(--section-text-color-alt-light);
}
@media screen and (max-width: 1399px) {
  .advantage-banner {
    padding: 72px 24px;
    min-height: 500px;
  }
}
