@import "./styles/reset.css";
@import "./styles/container.css";
@import "./styles/fonts.css";
@import "./styles/variables.css";

.App {
  overflow: hidden;
}

body {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: var(--section-text-color-default);
  font-size: var(--section-text-fz-default);
  font-weight: 300;
  background-color: var(--section-bg-color-default);
  overflow-x: hidden;
}

.logo {
  display: inline-block;
}
.logo img {
  min-width: 75px;
  width: 75px;
  height: 35px;
}

.pt-sml {
  padding-top: var(--section-pdng-sml);
}
.pt-mdl {
  padding-top: var(--section-pdng-mdl);
}
.pt-lrg {
  padding-top: var(--section-pdng-lrg);
}
.pt-x-lrg {
  padding-top: var(--section-pdng-x-lrg);
}
.pt-xx-lrg {
  padding-top: var(--section-pdng-xx-lrg);
}
.pt-sxx-lrg {
  padding-top: var(--section-pdng-sxx-lrg);
}
.pt-xxx-lrg {
  padding-top: var(--section-pdng-xxx-lrg);
}

.pb-sml {
  padding-bottom: var(--section-pdng-sml);
}
.pb-mdl {
  padding-bottom: var(--section-pdng-mdl);
}
.pb-lrg {
  padding-bottom: var(--section-pdng-lrg);
}
.pb-x-lrg {
  padding-bottom: var(--section-pdng-x-lrg);
}
.pb-xx-lrg {
  padding-bottom: var(--section-pdng-xx-lrg);
}
.pb-sxx-lrg {
  padding-bottom: var(--section-pdng-sxx-lrg);
}
.pb-xxx-lrg {
  padding-bottom: var(--section-pdng-xxx-lrg);
}
