@import "../src/Misc/reset.css";
@import "../src/Misc/container.css";
@import "../src/Misc/fonts.css";
@import "../src/Misc/variables.css";

body {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: var(--section-bg-color-default);
  font-size: var(--section-text-fz-default);
  background-color: var(--section-bg-color-default);
}

.pt-sml {
  padding-top: var(--section-pdng-sml);
}
.pt-mdl {
  padding-top: var(--section-pdng-mdl);
}
.pt-lrg {
  padding-top: var(--section-pdng-lrg);
}
.pt-x-lrg {
  padding-top: var(--section-pdng-x-lrg);
}
.pt-xxx-lrg {
  padding-top: var(--section-pdng-xxx-lrg);
}

.pb-sml {
  padding-top: var(--section-mrgn-sml);
}
.pb-mdl {
  padding-top: var(--section-mrgn-mdl);
}
.pb-lrg {
  padding-top: var(--section-mrgn-lrg);
}
.pb-xxx-lrg {
  padding-bottom: var(--section-pdng-xxx-lrg);
}
